body{
  margin: 0;
}
table {
    border-collapse: collapse;
    margin: 20px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 80%;
  }
  
  th,
  td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }

  main{
    display: flex;
    flex-direction: row;
  }
  .round{
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:200px;
    list-style:none;
    padding:0;
  }
  .round .spacer{ flex-grow:1; }
  .round .spacer:first-child,
  .round .spacer:last-child{ flex-grow:.5; }

  .round .game-spacer{
      flex-grow:1;
  }

  li.game{
    padding-left:20px;
  }

  li.game.winner{
    font-weight:bold;
  }
  li.game span{
    float:right;
    margin-right:5px;
  }

  li.game-top{ border-bottom:1px solid #aaa; }

  li.game-spacer{ 
    border-right:1px solid #aaa;
    min-height:40px;
  }

  li.game-bottom{ 
    border-top:1px solid #aaa;
  }
.header{
  background-color: #4CAF50;
  overflow: hidden;
}

.header nav {
  float: right;
  overflow:  hidden;
  display: block;
}
.header a {
  color: white;
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.header input[type=search]{
  float: right;
  padding: 6px;
  margin-top: 5px;
  margin-right: 16px;
  font-size: 17px;

}