body{
    margin: 0;
  }
  * {
    box-sizing: border-box;
  }
.header{
    background-color: #4CAF50;
    overflow: hidden;
  }
  
  .header nav {
    float: right;
    overflow:  hidden;
    display: block;
  }
  .header a {
    color: white;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .header input[type=search]{
    float: right;
    padding: 6px;
    margin-top: 5px;
    margin-right: 16px;
    font-size: 17px;
  }
  .column{
    float: left;
    width: 50%;
    padding: 10px;

  }
  .column h2{
    text-align: center;
  }
  .column ol{
    text-align: center;
  }
