<!DOCTYPE html>
<html>
<head>
    <title>NBA Scoreboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h1>NBA Scoreboard</h1>
    <table>
        <thead>
            <tr>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Game Time (ET)</th>
                <th>Game Location</th>
                <th>Score :  Home - Away</th>

            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr >
                    <td>{{ game.home_team }}</td>
                    <td>{{ game.away_team }}</td>
                    <td>{{ game.game_time }}</td>
                    <td>{{ game.game_location }}</td>
                    <td>{{game.home_score}} - {{game.away_score}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
