<!DOCTYPE html>
<html>
<head>
    <title>NBA Scoreboard</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="header">
            <a href="#">NBA</a>
            <a href="#">Teams</a>
            <a href="#">Stats</a>
            <a href="#">About</a>
            <input type="search" placeholder="Search...">
    </div>
    <h1>NBA Scoreboard</h1>
    <table>
        <thead>
            <tr>
                <th>Home Team</th>
                <th>Away Team</th>
                <th>Game Time (ET)</th>
                <th>Game Location</th>
                <th>Score :  Home - Away</th>

            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr >
                    <td>{{ game.home_team }}</td>
                    <td>{{ game.away_team }}</td>
                    <td>{{ game.game_time }}</td>
                    <td>{{ game.game_location }}</td>
                    <td>{{game.home_score}} - {{game.away_score}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>2023 NBA Playoffs</h1>
    <main id="playoffs">
        <ul class="round round-1">
            
            <li class="spacer">&nbsp;</li>
            <li class="game game-top seed_one winner">1.Denver<span>4</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">8.Minisota<span>1</span></li>
            <li class="spacer">&nbsp;</li>
            <li class="spacer">&nbsp;</li>
            <li class="game game-top seed_one winner">4.Phoenix<span>4</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom">5.Clippers<span>1</span></li>
            <li class="spacer">&nbsp;</li>
            <li class="game game-top seed_one ">3.Sacramento<span>3</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom winner">6.Golden State<span>4</span></li>
            <li class="spacer">&nbsp;</li>
            <li class="game game-top seed_one ">2.Memphis<span>2</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom winner">7.Los Angeles<span>4</span></li>
            <li class="spacer">&nbsp;</li>
            
            <li class="game game-top seed_one ">1.Milwaukee<span>1</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom winner">8.Miami<span>4</span></li>
            <li class="spacer">&nbsp;</li>
            <li class="game game-top seed_one ">4.Cleveland<span>1</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom winner">5.New York<span>4</span></li>
            <li class="spacer">&nbsp;</li>
            <li class="game game-top seed_one winner">3.Philadelphia<span>4</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">6.Brooklyn<span>0</span></li>
            <li class="spacer">&nbsp;</li>
            <li class="game game-top seed_one winner">2.Boston<span>4</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">7.Atlanta<span>2</span></li>
            <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-2">
            <li class="spacer">&nbsp;</li>
            <li class="game game-top seed_one winner">1.Denver<span>1</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">4.Phoenix<span>0</span></li>
            <li class="spacer">&nbsp;</li>
            <li class="game game-top seed_one ">6.Golden State<span>0</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">7.Los Angeles<span>0</span></li>
            <li class="spacer">&nbsp;</li>
            <li class="game game-top seed_one ">5.New York<span>0</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom winner">8.Miami<span>1</span></li>
            <li class="spacer">&nbsp;</li>
            <li class="game game-top seed_one">2.Boston<span>0</span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom ">3.Philadelphia<span>0</span></li>
            <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-3">
            <li class="spacer">&nbsp;</li>
            <li class="game game-top seed_one winner"><span></span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom "><span></span></li>
            <li class="spacer">&nbsp;</li>
            <li class="game game-top seed_one winner"><span></span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom "><span></span></li>
            <li class="spacer">&nbsp;</li>
        </ul>
        <ul class="round round-4">
            <li class="spacer">&nbsp;</li>
            <li class="game game-top seed_one winner"><span></span></li>
            <li class="game game-spacer">&nbsp;</li>
            <li class="game game-bottom "><span></span></li>
            <li class="spacer">&nbsp;</li>
        </ul>
    </main>
</body>
</html>
